@model fyp1.Models.tb_proposal

@{
    ViewBag.Title = "Proposal Details";
}

<h2>Proposal Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.p_studentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_studentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_acadsession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_acadsession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_ev2ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_ev2ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_ev1comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_ev1comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_ev2comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_ev2comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_svcomment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_svcomment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_bgNsol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_bgNsol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_obj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_obj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_scope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_scope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_softreq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_softreq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_hardreq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_hardreq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_techreq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_techreq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_netreq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_netreq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_secreq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_secreq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_idea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_idea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_domain.d_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_domain.d_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_status.st_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_status.st_desc)
        </dd>


    </dl>
</div>
<p>
    @if (Model.p_status != 2)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.p_ID })
    }
    @if (Session["UserID"].ToString() == Model.p_ev1ID || Session["UserID"].ToString() == Model.p_ev2ID)
    {
        @Html.ActionLink("Back to List", "Index2")
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }
</p>
