@model IEnumerable<fyp1.Models.tb_proposal>

@{
    ViewBag.Title = "List of Proposal";
}

<h2>List of Proposal</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn btn-success"})
</p>
<table class="table table-responsive" id="prettify">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.p_studentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_acadsession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_ev2ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_scope)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.p_area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_idea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_domain.d_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_status.st_desc)
        </th>
        <th></th>
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.p_studentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_acadsession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_ev2ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_scope)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.p_area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_idea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_domain.d_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_status.st_desc)
        </td>
        <td>
            @if (item.p_status != 2)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.p_ID }, new { @class = "btn btn-warning" })
            }
                @Html.ActionLink("Details", "Details", new { id = item.p_ID }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.p_ID }, new { @class = "btn btn-danger" })
            </td>
    </tr>
}
        </tbody>
</table>
