@model IEnumerable<fyp1.Models.tb_user>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.u_pwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_committee.cmt_acadprogID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_student.s_acadprogID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_sv.sv_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_usertype.ut_desc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.u_pwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_committee.cmt_acadprogID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_student.s_acadprogID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_sv.sv_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_usertype.ut_desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.u_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.u_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.u_ID })
        </td>
    </tr>
}

</table>
