@model IEnumerable<fyp1.Models.tb_user>

@{
    ViewBag.Title = "User Record";
}

<h2>User Record</h2>

<p>
    @Html.ActionLink("Create New User", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-hover table-responsive-xl">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.u_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_usertype.ut_desc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.u_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_usertype.ut_desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.u_ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.u_ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.u_ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
