@model IEnumerable<fyp1.Models.tb_sv>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="prettify">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sv_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_user.u_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_user.u_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_domain.d_desc)
        </th>
        <th></th>
    </tr>
        </thead>
    <tbody>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sv_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_user.u_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_user.u_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_domain.d_desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sv_ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.sv_ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sv_ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>

}
        </tbody>

</table>
