@model IEnumerable<fyp1.Models.tb_student>

@{
    ViewBag.Title = "Student Record";
}

<h2>Student Record</h2>

<p>
    @Html.ActionLink("Create New Student", "Create")
</p>
<table class="table" id="prettify">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.s_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_user.u_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_user.u_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_acadprogID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_svID)
        </th>
        <th></th>
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.s_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_user.u_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_user.u_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_acadprogID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_svID)
            @Html.DisplayFor(modelItem => item.tb_user.u_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.s_id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.s_id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.s_id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
        </tbody>
</table>
