@model fyp1.Models.tb_acadprog

@{
    ViewBag.Title = "Academic Program Details";
}

<h2>Academic Program Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ap_ID)
        </dt>

        <dd>
            @Html.EditorFor(model => model.ap_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ap_desc)
        </dt>

        <dd>
            @Html.EditorFor(model => model.ap_desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ap_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
