@model IEnumerable<fyp1.Models.tb_acadprog>

@{
    ViewBag.Title = "Academic Program List";
}

<h2>Academic Program List</h2>

<p>
    @Html.ActionLink("New Academic Program", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-responsive-xl table-hover" id="prettify">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ap_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ap_desc)
        </th>
        <th></th>
    </tr>
        </thead>
    <tbody>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ap_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ap_desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ap_ID }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Details", "Details", new { id=item.ap_ID }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.ap_ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
        </tbody>

</table>