@model fyp1.Models.tb_committee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_committee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tb_acadprog.ap_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_acadprog.ap_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_user.u_pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_user.u_pwd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cmt_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
