@model IEnumerable<fyp1.Models.tb_committee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="prettify">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tb_acadprog.ap_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_user.u_pwd)
        </th>
        <th></th>
    </tr>
        </thead>
    <tbody>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tb_acadprog.ap_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_user.u_pwd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cmt_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cmt_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cmt_ID })
        </td>
    </tr>
}
        </tbody>
</table>
